

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

.logo {
    fill: #fff;
}

.r-w-\[5\.875\] {
    width: clamp(5.29rem, 6.53vw, 7.34rem);
}


